<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Citation Network</title>
    <script src="https://lib.baomitu.com/echarts/5.5.0/echarts.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <input type="text" id="search-input" placeholder="Enter arxiv id">
    <button id="search-button">Search</button><a href="https://arxiv.org/" target="_blank">前往arxiv</a>
    <div id="chart" style="width: 100vw; height: 100vh;"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
